<a class="accordion-section-title" href="#/contributors/{{ author.login }}">
    <img src="{{ avatarSmall }}" class="accordion-section-title-avatar" /><span class="accordion-section-title-login">{{ author.login }}</span>
</a>
<div id="{{ author.login }}" class="accordion-section-content">
    <div>
        <img src="{{ avatarBig }}" class="accordion-section-content-avatar" />
    </div>
    <div>Github account: <a href="{{ author.html_url }}" target="blank">{{ author.login }}</a></div>
    <div>Total commits count: {{ total }}</div>
</div>